<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Mac's Cookbook</title>
</head>
<body class="landing-page">
    <h1 class="landing-header">Mac's Cookbook</h1>
    <div class="landing-form">
        <h2>Please sign in below</h2>
        <form method="post">
            <label for="sign-in-email-address">Email</label><br>
            <input class="landing-page-input" type="email" name="sign-in-email-address" required><br>
            <label for="password">Password</label><br>
            <input class="landing-page-input" type="password" name="password" required><br>
            <button type="submit">Sign In</button>
            <!-- Register page link -->
            <p>Not a member? <a href="#">Register here</a></p>
        </form>
    </div>
</body>
</html>